.four_rows{
	float:left;
	width:23%;
	display:inline-block;
	margin-left:2%;
}

.four_rows img{
	-webkit-box-shadow: 3px 3px 10px #7C7C7C;
    box-shadow: 2px 3px 6px #707070;
    border-radius: 10px
}
.four_rows h3,p{
	padding-left:20px;
}

.four_rows .thumbnail{
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}