/* reset css --------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-style:normal; }
ol,ul { list-style: none outside none; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,q:before,q:after { content: '';content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse;border-spacing: 0; }
hr { display:none; }
a { text-decoration:none; }
a {selector-dummy : expression(this.hideFocus=true); }
a:hover { text-decoration:underline; }
img { color:#999;font-size:11px;line-height:1.2; }
input,textarea,button,select { font:12px AppleGothic,Dotum,'',sans-serif;padding:0;color:#626262; }
textarea { margin:0;resize:none; }
button { cursor:pointer;*margin:0 2px;border:0px; }
button:disabled,button.disabled { cursor:default;opacity:.5; }
.hintText { letter-spacing:-1px;word-spacing:-1px;color:#acacac;font-size:11px; }
.ellipsis { letter-spacing:0 !important; }
/* clearfix --------------------- */
.fix:after { content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0; }
.fix { display: inline-block; }
html[xmlns] .fix { display: block; }
* html .fix { height: 1%; }
.float_left { float:left; }
.float_right { float:right; }
/* layout --------------------- */
html { height:100%; }
body { height:100%; font:12px/1.4 AppleGothic,Dotum,'돋움',sans-serif; color:#626262; }
#wrapper { margin: 0 auto; min-height: 100%; min-width: 920px; position: relative; width: 100%; }
#header-area { background: url("http://img2.ticketlink.co.kr/common_v1/bg_header_area.gif") repeat-x scroll left transparent; height: 162px; width: 100%; }
#footer_area {width: 100%; }
#header,#container,#footer { margin: 0 auto; text-align: left; width: 996px; }
#header { height: 160px; position: relative; z-index: 1; }
#container { margin-top:10px; font:12px/1.4 AppleGothic,Dotum,'돋움',sans-serif; }
/* 공통 --------------------- */
/* 말줄임 */
.ellipsis { letter-spacing: 0 !important; }
.ellipsis { letter-spacing: 0; }
/* 숨김 */
.hide { display: block; font-size: 0; height: 1px; left: -9999px; line-height: 0; overflow: hidden; position: absolute; text-indent: -9999px; top: -9999px; width: 1px; }
/* arrow,more */
.paging { display: block; position: absolute; right: 0; top: -1px; width: 32px; height:14px; }
.paging button { display: block; position: absolute; top: 0; height: 14px; background: url("http://img2.ticketlink.co.kr/common_v1/ico_v1.png") no-repeat scroll 0 -140px transparent; border: 0 none; cursor: pointer; overflow: hidden; text-indent: -9999px; }
.paging .prev { left: 0; width: 16px; }
.paging .next { background-position: -15px -140px; left: 15px; width: 16px; }
.paging2 { display: block; position: absolute; right: 0; top: -1px; width: 32px; height:14px; }
.paging2 button { display: block; position: absolute; top: 0; height: 14px; background: url("http://img2.ticketlink.co.kr/common_v1/ico_v1.png") no-repeat scroll -100px -140px transparent; border: 0 none; cursor: pointer; overflow: hidden; text-indent: -9999px; }
.paging2 .prev { left: 0; width: 16px; }
.paging2 .next { background-position: -115px -140px; left: 15px; width: 16px; }
.more { display: block; width: 35px; height: 10px; overflow: hidden; text-indent: -9999px; background: url("http://img2.ticketlink.co.kr/common_v1/ico_v1.png") no-repeat scroll 0 -220px transparent; }
.more2 { display: block; width: 35px; height: 10px; overflow: hidden; text-indent: -9999px; background: url("http://img2.ticketlink.co.kr/common_v1/ico_v1.png") no-repeat scroll -100px -220px transparent; }
/* num */
.ico_num { display:block; width:13px; height:13px; background: url("http://img2.ticketlink.co.kr/common_v1/num_v1.png") no-repeat scroll 0 0 transparent; text-indent:-9999px; margin-top:1px; overflow:hidden; }
.ico_num1 { background-position: 0px 0px; }
.ico_num2 { background-position: 0px -20px; }
.ico_num3 { background-position: 0px -40px; }
.ico_num4 { background-position: 0px -60px; }
.ico_num5 { background-position: 0px -80px; }
.ico_num6 { background-position: 0px -100px; }
.ico_num7 { background-position: 0px -120px; }
.ico_num8 { background-position: 0px -140px; }
.ico_num9 { background-position: 0px -160px; }
.ico_num10 { background-position: 0px -180px; }
/* 별점 */
.rating { display: inline-block; background: url("http://img2.ticketlink.co.kr/common_v1/rating_star_tiny.png") repeat-x scroll 0 0 transparent; width: 64px; height: 13px; vertical-align: top; overflow: hidden; }
.rating strong { display: block; background: url("http://img2.ticketlink.co.kr/common_v1/rating_star_tiny.png") repeat-x scroll 0 -13px transparent; width: 64px; height: 13px; overflow: hidden; text-indent: -9999px; }
/* padding,margin style */
.mgt2 { margin-top:2px; }
.mgt3 { margin-top:3px; }
.mgt5 { margin-top:5px; }
.mgt10 { margin-top:10px; }
.mgt15 { margin-top:15px; }
.mgt20 { margin-top:20px; }
.mgt30 { margin-top:30px; }
.mgt50 { margin-top:50px; }

.mgr5 { margin-right:5px; }
.mgr10 { margin-right:10px; }
.mgr20 { margin-right:20px; }
.mgr30 { margin-right:30px; }

.mgb2 { margin-bottom:2px; }
.mgb3 { margin-bottom:3px; }
.mgb4 { margin-bottom:4px; }
.mgb5 { margin-bottom:5px; }
.mgb8 { margin-bottom:8px; }
.mgb10 { margin-bottom:10px; }
.mgb20 { margin-bottom:20px; }
.mgb30 { margin-bottom:30px; }
.mgb40 { margin-bottom:40px; }

.mgl3 { margin-left:3px; }
.mgl5 { margin-left:5px; }
.mgl10 { margin-left:10px; }
.mgl20 { margin-left:20px; }

.pdt5 { padding-top:5px; }
.pdt10 { padding-top:10px; }
.pdt20 { padding-top:20px; }
.pdt50 { padding-top:50px; }

.pdr5 { padding-right:5px; }
.pdr10 { padding-right:10px; }

.pdb3 { padding-bottom:3px; }
.pdb10 { padding-bottom:10px; }
.pdb20 { padding-bottom:20px; }

.pdl5 { padding-left:5px; }
.pdl10 { padding-left:10px; }
.pdl20 { padding-left:20px; }
.pdl80 { padding-left:80px; }

/* font style */
.txt_white { color:#fff; }
.txt_black { color:#666; }
.txt_blue { color:#076db5; }
.txt_orange { color:#ff9000; }
.txt_green { color:#77a711; }
.txt_red { color:#fe0000; }
.txt_gray { color:#808080; }
.txt_gray2 { color:#666; }
.txt_spacing0 { letter-spacing:0; }
.txt_spacing1 { letter-spacing:-1px; }
.txt_size11 { font-size:11px; }
.txt_bold { font-weight:bold; }