/* 윤섭제작 */
#accordion>form>div.col-xs-2 {
	width: auto;
	font: bold;
	padding-right: 0%;
}

.col-xs-3 {
	padding-right: 0%;
}

@font-face {
	font-family: 'nanum';
	src: url('board/font/nanum.ttf');
}