		
		table { width: 880px; }

		td,th {
			border-top: 1px solid #abc;
		}

		td pre {
			text-align:left;
		}

		td,a,th {
			font-family:돋음;
			font-size:12px;
			color: black;
			padding:1px;
		}

		input, textarea {
			border:solid black 1px;
			padding: 2px; 
			font-family:돋음;
			font-size:12px;
			color: black;
			width:100%;
		}

		a:link { text-decoration: none; color:#556677; }
		a:visited { text-decoration: none; color:#556677; }
		a:hover { text-decoration: none; color:red; font-weight: 900}
		a:active { text-decoration: none; color:yellow; }

		.center {
			text-align:center;
		}
